html {
  box-sizing: border-box;
  font-size: 10px;
}

.App {
  font-family: 'Nunito', sans-serif;
  color: #5c4949;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  font-family: 'Squada One', cursive;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: inherit;
}
